{% extends "template.html" %}

{% block title %} Add Expense {% endblock %}

{% block content %}
<div class="expense-form"> 
<form method="post">
    {% csrf_token %}
    {{form.expenses.label}} 
    {{form.expenses}} 
    {{form.amount_spent.label}} 
    {{form.amount_spent}} 
    {{form.spent_date.label}} 
    {{form.spent_date}} 
    <button type="submit" id="expense-submit">Add Expense</button>
</form>
</div>
{% if form.errors %}
<div>
    <ul>
    {% for field in form %}
    {% for error in field.errors %}
        <li>{{error}}</li>
    {% endfor %}
    {% endfor %}
        </ul>
</div>
{% endif %}

{% if data %}
<h1>Recent Updates</h1>
<div class="recent-expense">
    <ul style="font-weight: bold;">
        <li>Expense</li>
        <li>Amount</li>
        <li>Date</li>
    </ul>
    {% for expense in data %}

    <ul class="expense-list">
        <li>{{expense.expenses}}</li>
        <li>{{expense.amount_spent}}</li>
        <li>{{expense.spent_date}}</li>
        </ul>
        {% endfor %}
</div>
{% endif %}
{% endblock %}