{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about_us' %}">About Us</a></li>
        <li><a href="{% url 'expense' %}">Expenses</a></li>
        <li>Welcome {{user.username}}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</nav>

<div class="page-content">
{% block content %}
{% endblock %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentPath = window.location.pathname;
        const links = document.querySelectorAll('nav ul li a')
        Array.from(links).forEach(link => {
            if (link.getAttribute('href') === currentPath) {
                link.parentNode.classList.add('active');
            }
        });
    })
</script>
</body>
</html>